<h1>About Me</h1>
<p>My name is Derrek Bitner, I am a Computer Programmer and a Computer Science teacher at Northridge High School I love my job, and my students kick much butt, I am blown away by them every day.</p>
