

<h1>How to get in touch with me!</h1>

<hr>
<div class = "row">
    <div class = "col-md-6">
        <h3>School Address</h3>
        <p>2430 N Hill Field Rd, Layton, UT 84041</p>
        
        <h3>Phone</h3>
        <p><%= number_to_phone "8014028500" %></p>
        
        <h3>Email</h3>
        <p><a href="mailto:dbitner@dsdmail.net?subject=Website Contact" Email Me</a></p>
    </div>
    
    <div class = "col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.8099740383286!2d-111.97317358458331!3d41.094998379292086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875303f2fe18d539%3A0x84886e2e8aa421d9!2sNorthridge+High+School!5e0!3m2!1sen!2sus!4v1500398532706" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
</div>




