<h1>Pages#contact</h1>
<p><%= number_to_phone "555-555-5555" %></p>

<p><%= number_to_currency "555" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "456487613123456874566" %></p>


